/**-- Styles for only screen devices and max width of 600px or under --*/
@media only screen and (max-width: 600px)  {
    /** universal styles */
    .flex-nav {
        font-size: 17px;
    }

    .box {
        display: block;
        width: 100%;
    }

    .card {
        margin: auto;
        margin-top: 5.5px;
    }
    
    section {
        padding-top: 5.5%;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 24px;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 12.5px;
        padding: 1.5;
    }


    /** main styles  */
    main {
        height: 800vw;
        background-color: yellow;
    }

    /** home styles */
    #home {
        height: 60vw;
    }

    /** about styles */
    #about {
        height: 140vw;
    }

    #about img {
        display: none;
    }
    
    /** Skills styles */
    #skills {
        height: 175vw;
    }

    #skills li {
        font-size: 12.5px;
        text-align: center;
        padding: 5.5px;
    }

    #skills img {
        height: 10%;
        width: 10%;
        float: none;
    }

    /** Projects styles */
    #projects {
        height: 250vw;
    }
    
    #projects img {
        display: none;
    }

    /** Contact Styles */
    /** Footer styles */
    footer {
        margin-top: 0%;
    }

    aside img {
        height: 20vw;
    }

}

/*! fix main height.  */