/** Universal Styles */
* {
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {
    background-color: yellow;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding: 15px;
}

h1 {
    font-size: 144px;
    font-weight: 700;
}

h2 {
    font-size: 64px;
}

h4 {
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
}

h5 {
    font-size: 18px;
}

h6 {
    font-weight: 500;
    font-style: italic;
}

p {
    padding: 10px;
    font-size: 16px;
}

section {
    padding-top: 10%;
    width: 95%;
}

a {
    color: magenta;
}

a:hover {
    color: cyan;
}

a:active {
    color: rgb(0, 155, 155);
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 85%;
    height: 65%;
    padding: 2px 15px;
    background-color: beige;
    border-radius: 15px;
    box-shadow: -5px 10px 10px #383838;
    margin: 10px;
}

.box {
    display: inline-block;
    width: 30%;
}

/**-- Header Styles --*/
header {
    background-color: darkslategray;
    width: 100vw;
    height: 5%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

/**-- Nav --*/
nav {
    /* border: 5px solid black; */
    width: 85%;
    font-size: 24px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav a {
    /* border: 5px solid white; */
    color: cyan;
}

nav a:hover {
    color: magenta;
}

nav a:active {
    color: yellow;
}

/**-- Main Styles--*/
main {
    height: 295vw;
    width: 100vw;
    background-color: gray;
    /*margin-top: 30px;*/
}
/**-- Home --*/
#home {
    height: 50vw;
    background-color: cyan;
}

/**-- About --*/
#about {
    height: 50vw;
    background-image: linear-gradient(cyan, magenta);
}

#about h2 {
    text-align: right;
    padding-right: 30%;
}

#about p {
    width: 95%;
}

#about img {
    float: left;
    width: 35%;
    padding: 15px;
    border-radius: 25px;
}

#about section {
    height: 95%;
    border-bottom: solid 5.5px black;
}

/**-- Skills --*/
#skills {
    height: 50vw;
    background-color: magenta;
}

#skills h2 {
    border-bottom: solid 2.5px black;
    width: 75%;
    margin-bottom: 5%;
}

#skills img {
    float: left;
    height: 10%;
    width: 10%;
}

#skills li {
    font-size: 34px;
    text-align: left;
    padding: 20px;
}


/**-- Projects --*/
#projects {
    height: 85vw;
    background-image: linear-gradient(magenta, yellow);
}

#projects h2 {
    text-align: left;
    border-left: solid 5.5px black;
    margin-bottom: 5px;
}

#projects a p {
    color: rgb(159, 0, 159);
}

#projects img {
    height: 45%;
    width: 45%;
}
/**-- Contact --*/
#contact {
    height: 65vw;
    background-color: yellow;
}

#contact h2 {
    padding-top: 5%;
}

    /** Contact form copied from w3schools  */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: magenta;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: cyan;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: beige;
    padding: 20px;
    width: 50%;
    box-shadow: -5px 10px 10px #383838;
  }

/**-- Footer Styles --*/
footer {
    background-color: yellow;
    margin-top: 10%;
}

aside img {
    padding: 15px;
    height: 5vw;
}